name: Release

on:
  push:
    branches:
      - master
    
env:
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Publish Chores
        uses: mou-haz/GitHub-WorkFlows/.github/steps/package_publish@main
        with:
          token: ${{ secrets.GithubPackages_Key }}
          packages: ":I.EntityFramework.Projectables"
          github_packages_token: ${{ secrets.GithubPackages_Key }}